default-lease-time {{ dhcp_default_lease_time }};  
max-lease-time {{ dhcp_max_lease_time }};

authoritative;

subnet {{ dhcp_subnet }} netmask 255.255.255.0 {
    range {{ dhcp_range_min }} {{ dhcp_range_max }};

    option domain-name "{{ dhcp_domain }}";
    option domain-name-servers {{ dhcp_dns1 }}, {{ dhcp_dns2 }};
    option routers {{ dhcp_router }};
}