version: "3.8"

services:

  glpi:
    image: {{ glpi_image_name }}
    networks:
      - {{ frontend_docker_network }}
      - {{ backend_docker_network }}
    ports:
      - "{{ glpi_port }}:80"
    volumes:
      - {{ glpi_src_dir }}:/var/www/html/glpi
    environment:
      - TIMEZONE=Europe/Brussels
    restart: always
    
networks:
  {{ frontend_docker_network }}:
    external: true
  {{ backend_docker_network }}:
    external: true