version: '3'
services:
  php-apache:
    image: {{ php_apache_image }}
    networks:
      - {{ frontend_docker_network }}
      - {{ backend_docker_network }}
    ports:
        - {{ php_apache_port }}:80
    volumes:
      - {{ php_apache_src_dir }}:/var/www/
    restart: always


networks:
  {{ frontend_docker_network }}:
    external: true
  {{ backend_docker_network }}:
    external: true