$TTL    604800
@       IN      SOA     ns.{{ domain }}. root.{{ domain }}. (
                  3       ; Serial
             604800     ; Refresh
              86400     ; Retry
            2419200     ; Expire
             604800 )   ; Negative Cache TTL
;

@     IN      NS         ns.{{ domain }}.
ns    IN       A         192.168.0.21
www   IN       A         192.168.0.21


