version: '3'
services:
  db:
    image: {{ db_image_name }}
    networks:
      - {{ backend_docker_network }}
    ports:
      - {{ db_port }}:3306
    volumes:
      - {{ db_files_dir }}:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: {{ db_root_password }}
      MYSQL_USER: {{ db_user }}
      MYSQL_PASSWORD: {{ db_password }}
      
    restart: always

  phpmyadmin:
    image: {{ phpmyadmin_image_name }}
    networks:
      - {{ frontend_docker_network }}
      - {{ backend_docker_network }}
    ports:
      - {{ phpmyadmin_port }}:80
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: {{ db_root_password }}
      MYSQL_USER: {{ db_user }}
      MYSQL_PASSWORD: {{ db_password }}
    restart: always

networks:
  {{ frontend_docker_network }}:
    external: true
  {{ backend_docker_network }}:
    external: true